@page
@model SommerhusHjemmeside.Pages.UserSite.LogOutModel
@{
}
<div class="container">
    <h2>Logged out successfully</h2>
    <p>You have been successfully logged out.</p>
    <p><a asp-page="/UserSite/LogIn">Login again</a></p>
</div>