html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
@media(min-width: 576px) and (max-width: 1708px) 
{
    .loginHeader {
        left: 85%;
        top: 10px;
        position: absolute;
        background: #DEE50F;
    }
}
@media(max-width: 575px) {
    .loginHeader-min {
        left: 72%;
        position: absolute;
        top: 9px;
        background: #DEE50F;
    }
}
@media(min-width: 1708px)
{
    .loginHeader-max {
        left: 75%;
        top: 10px;
        position: absolute;
        background: #DEE50F;
    }
}
/*Colors*/
:root {
    --Color1: #4AADFF;
    --Color2: #DEE50F;
    --Color3: antiquewhite;
    --Color4: WhiteSmoke;
}

.cardSpecial {
    width: 20em;
    height: 32em;
    background: var(--Color4);
    border: var(--Color1) 3px solid;
    border-radius: 20px;
    cursor: default;
    transition: box-shadow 0.03s ease;
}
    .cardSpecial:hover {
        box-shadow: 0px 0px 20px var(--Color1);
    }

.cardSpecialIMG {
    width: 100%;
    height: 14em;
    justify-content: center;
    border-radius: 16px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.btnSpecial {
    background: #DEE50F;
    border: solid 2px dimgrey;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.BG-Special {
    background: var(--Color1);
    color: black;
}
.gradient-text {
    background: linear-gradient(180deg, black, darkblue);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.textv1 {
    color: var(--Color2);
    font-family: fantasy, copperplate;
}

/*All CSS to The preview card*/
.PreviewCardBox-Header {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--Color2);
    width: 140px;
    height: 30px;
    border-radius: 0 0 20px 20px;
}
    .PreviewCardBox-Header span {
        font-size: 20px;
        font-weight: 600;
    }

/*Sommerhus application*/
.Application-header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--Color1);
    width: 270px;
    height: 46px;
    border-radius: 0 0 20px 20px;
}
    .Application-header span {
        font-size: 24px;
        font-weight: 600;
    }

/*All CSS to Create Profile*/
.CreateBox {
    position: relative;
    background-color: var(--Color4);
    backdrop-filter: blur(50%);
    border: solid 4px var(--Color1);
    align-content: center;
    border-radius: 20px 20px 20px 20px;
    max-width: 45em;
    padding: 4.5em 2em 2em 2em;
}

.Create-header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--Color1);
    width: 210px;
    height: 46px;
    border-radius: 0 0 20px 20px;
}
    .Create-header span {
        font-size: 30px;
        font-weight: 600;
    }

/*All CSS to BookingWatchList*/
.WatchListBox {
    background-color: var(--Color3);
    border: solid 3px var(--Color1);
    justify-content: center;
    align-content: center;
    border-radius: 20px 20px 20px 20px;
    max-width: 80%;
    padding: 1em 0em 1em 0em;
    margin-top: 2em;
}

.WatchListIMGBox {
    width: 20em;
    height: 15.5em;
    background-color: var(--Color3);
    border: solid 2px var(--Color3);
    border-radius: 20px;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.WatchListInfoBox {
    background-color: var(--Color4);
    border: solid 3px var(--Color1);
    align-content: center;
    border-radius: 20px 20px 20px 20px;
    max-width: 98%;
    padding: 0.5em 0.5em 0.5em 0.5em;
    text-align: center;
}
.WatchListInfoBox label{
    margin-top: 2px;
    font-weight: 600;
}
.WatchListInfoBox output{
    height: 35px;
    margin-top: 10px;
    font-weight: 600;
    align-content: center;
}

.WatchListIMG {
    max-width: 19em;
    height: 14em;
    justify-content: center;
    border-radius: 16px;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.SortByBox {
    position: relative;
    background-color: var(--Color4);
    border: solid 3px var(--Color1);
    justify-content: center;
    align-content: center;
    border-radius: 0px 0px 20px 20px;
    max-width: 80%;
    padding: 5em 0em 1em 0em;
    margin-top: 2em;
}
.SortByBoxHeader {
    position: absolute;
    background-color: var(--Color3);
    border: solid 1px var(--Color1);
    border-radius: 0px 0px 0px 40px ;
    top: 0%;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-content: center;
}
/*All CSS CreditInfoCard*/
.CreditInfoCard {
    justify-content: center;
    max-width: 25em;
    max-height: 15em;
    border-radius: 25px 25px 25px 25px;
    border: 4px solid black;
    background-color: var(--Color4); /* Start color */
    background-image: linear-gradient(to bottom right, black, var(--Color4)); /* Fallback for older browsers */
    position: relative;
    margin-bottom: 2em;
}
.CreditInfoCardBottom{
    width: 100%;
    height: 35px;
    background-color: black;
    position: relative;
    margin-bottom: 1em;
}

/*All CSS to Profile Site*/
.ProfileBox {
    position: relative;
    background-color: var(--Color1);
    border: solid 3px var(--Color1);
    border-radius: 20px 20px 20px 20px;
    max-width: 45em;
    max-height: 47em;
    margin-top: 2em;
    padding-bottom: 1.5em;
}
.ProfileUserForm{
    position: relative;
    background-color: var(--Color4);
    height: 37px;
    border-radius: 0px 20px 20px 20px;
    align-content: center;
    justify-content: center;
    width: 100%;
    border: 2px solid var(--Color1);
    text-align: center;
    margin-bottom: 0.5em;
    left: 8px;
}

.ProfileUserInfo {
    position: relative;
    margin-left: 5em;
    padding: 2em 1em 1em 1em;
}
.ProfileUserTextBox{
    top: 0%;
    width: 100%;
    height: 13px;
    margin-bottom: 10px;
}

.ProfileUserInfo p{
    font-weight: 700;
    font-size: 16px;
    color: var(--Color2)
}

.ProfileUserInfo output{
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    justify-content: center;
}

.ProfileBoxHeader {
    position: absolute;
    background: var(--Color1);
    border: solid 3px var(--Color1);
    border-radius: 15px 0px 0px 15px;
    top: 0%;
    left: 0%;
    transform: rotate(-0deg);
    writing-mode: vertical-lr;
    text-align:center;
    align-content: center;
    width: 4em;
    height: 100%;
}

/*all CSS to The login box*/
.loginbox {
    position: absolute;
    background-color: var(--Color4);
    backdrop-filter: blur(50%);
    border: solid 4px var(--Color1);
    align-content: center;
    border-radius: 20px 20px 20px 20px;
    width: 350px;
    height: 500px;
    padding: 7.5em 2.5em 4em 2.5em;
}

.login-header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--Color1);
    width: 140px;
    height: 46px;
    border-radius: 0 0 20px 20px;
}

    .login-header span {
        font-size: 30px;
        font-weight: 600;
    }

.input-box {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    padding-bottom: 20px;
}

.input-field {
    width: 100%;
    height: 50px;
    font-size: 16px;
    background: transparent;
    padding-inline: 20px 10px;
    border: 2px solid var(--Color1);
    border-radius: 0 20px 20px 20px;
    outline: none;
    color: black;
    margin-bottom: 25px;
}

    .input-field::placeholder {
        color: dimgrey;
    }

    .input-field ::after {
        background-color: transparent;
        background-color: rgba(0, 0, 0, 0.5);
    }

.label {
    margin-left: 5px;
    color: black;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px 10px 0 0;
}

.remember-forgot {
    color: black;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.NewProfile{
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
}
.input-submit {
    width: 100%;
    height: 45px;
    font-size: 24px;
    font-weight: 600;
    border-radius: 15px;
    border: 2px solid dimgrey;
    background-color: var(--Color2);
}
