@page
@model SommerhusSite.Pages.AdminSite.IndexModel
@{
}

<h1>Velkommen til admin siden</h1>

@* Laver en knap til at se kunder *@
<a asp-page="UserList" class="btn btn-primary">Til at se Kunder</a>
<a asp-page="SummerHouseList" class="btn btn-primary">Til at se Sommerhuse</a>
<a asp-page="CreateAdmin" class="btn btn-primary">Lav ny admin bruger</a>