@page
@model SommerhusSite.Pages.BookingSite.BookingtestVisualModel
@{
}
<div class="container">
    <div class="row justify-content-center">
            <div class="container WatchBox row" style="padding-top: 15px; padding-left: 15px;">
                <div class="col-lg-4 align-content-center justify-content-center">
                    <div class="WatchListIMGBox d-flex justify-content-center align-content-center">
                        <img class="WatchListIMG" src="/Images/Sommer&SOLPlaceHolder.png" />
                    </div>
                </div>
                <div class="col-lg-8" style="text-align: center; padding-left: 15px;">
                <div class="row d-flex">
                    <div class="col-6 d-inline">
                        <label>Dato Fra</label>
                        <input type="date" class="form-control"/><br />
                    </div>
                    <div class="col-6 d-inline">
                        <label>Dato Til</label>
                        <input type="date" class="form-control"/><br />
                    </div>
                    <div class="col-6">
                        <label>Vejnavn</label>
                        <input class="form-control"/><br />
                    </div>
                    <div class="col-3">
                        <label>Hus nr.</label>
                        <input class="form-control" type="number"/><br />
                    </div>
                    <div class="col-3">
                        <label>Post nr.</label>
                        <input class="form-control" type="number"/><br />
                    </div>
                        <div class="col-8">
                            <label>Pris Pr. Dag</label>
                            <input class="form-control" type="number"/><br />
                        </div>
                        <div class="col-4">
                            <label>Booking ID</label>
                            <input class="form-control" type="number"/>
                        </div>
                        <div class="col-12 d-flex justify-content-center">
                            <input type="submit" value="Afbestil" class="btn btn-danger"/>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>